<!doctype html>
<html lang="en">
<head>
	<title>Temp Graph</title>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

      	var temp_list = '{{ temp_list|tojson|safe }}';
        // Create the data table.
        var data = new google.visualization.arrayToDataTable(JSON.parse(temp_list));
        // Set chart options
        var options = { title:'Termprature Chart',
        				vAxis: {title: 'Temprature',  titleTextStyle: {color: 'blue'}},
        				hAxis: {title: 'Time',  titleTextStyle: {color: 'red'}}
                       };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
</head>
<body>
	<div id="chart_div" style="width: 1500px; height: 500px;">></div>
</body>
</html>