<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <style>
    line.crisp {
        shape-rendering: crispEdges;
    }
    </style>
    <script type="text/javascript">
    // Load the Visualization API and the piechart package.
    // google.load('visualization', '1.0', {
    //     'packages': ['corechart']
    // });

    // Set a callback to run when the Google Visualization API is loaded.
    // google.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.

    function drawChart() {

        var data = JSON.parse('{{ temp_list|tojson|safe }}'); //Tue, 27 May 2014 12:19:56 GMT
        console.log(data);
        var format = d3.time.format("%a, %d %B %Y %H:%M:%S")
        var valueFn = function(d) {
            return d.temp
        }
        var dateFn = function(d) {
            return format.parse(d.date)
        }
        chart = $('#chart_div'),
        container = chart.parent();
        chart.height(300)

        var margin = {
            top: 20,
            bottom: 20,
            left: 20,
            right: 20
        },
            width = chart.width() - margin.left - margin.right,
            height = chart.height() - margin.top - margin.bottom,
            aspect = width / height;

        console.log(d3.extent(data, dateFn));
        var x = d3.scale.linear()
            .domain(d3.extent(data, dateFn))
            .range([0, width]);

        console.log(d3.extent(data, valueFn));
        var y = d3.scale.linear()
            .domain(d3.extent(data, valueFn))
            .range([0, height]);

        var line = d3.svg.line()
            .x(function(d, i) {
                return x(dateFn(d))
            })
            .y(function(d, i) {
                return y(valueFn(d))
            });
        console.log(line);

        var svg = d3.select("#chart_div").append("svg:svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom);

        var path = svg.append('path')
            .datum(data)
            .attr('class', 'line')
            .attr('d', line)
            .style('fill', 'none')
            .style('stroke', '#FB5050')
            .style('stroke-width', '2px');

        d3.select(window).on('resize', resize);

        function resize() {
            var targetWidth = container.width();
            svg.attr("width", targetWidth);
            svg.attr("height", Math.round(targetWidth / aspect));
            x.range([0, width]);
        }

        // Create the data table.
        // var data = new google.visualization.arrayToDataTable(JSON.parse(temp_list));
        // Set chart options
        // var options = {
        //     width: 600,
        //     height: 400,
        //     pointSize: 3,
        //     colors: ['green']
        // };

        // Instantiate and draw our chart, passing in some options.
        // var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        // chart.draw(data, options);

    }
    </script>

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Atom<sup>2</sup>M</a>
            </div>

            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index.html"> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"> Logout</a>
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Graphs
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#home-pills" data-toggle="tab">Temp Trends</a>
                                </li>
                                <li><a href="#profile-pills" data-toggle="tab">Electricity Trends</a>
                                </li>
                                <li><a href="#messages-pills" data-toggle="tab">Foot Traffic</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="home-pills">
                                    <div id="chart_div"></div>
                                </div>
                                <div class="tab-pane fade" id="profile-pills">

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                                <div class="tab-pane fade" id="messages-pills">

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>

                            </div>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->


                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Notifications Panel
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-money fa-fw"></i> Start Showing Advertisements
                                    <span class="pull-right text-muted small">
                                        <em>12:30 PM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-bolt fa-fw"></i> Electricity Usage is Good
                                    <span class="pull-right text-muted small">
                                        <em>11:13 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-warning fa-fw"></i> Kitchen is On Fire!
                                    <span class="pull-right text-muted small">
                                        <em>10:57 AM</em>
                                    </span>
                                </a>
                            </div>
                            <!-- /.list-group -->
                            <a href="/alerts" class="btn btn-default btn-block">View All Alerts</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- Core Scripts - Include with every page -->
        <script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
        <script>
        drawChart();
         // var socket = io();
         // io.on('temperature/message', function(msg) {

         // });
        </script>
        <!-- SB Admin Scripts - Include with every page -->
        <script src="{{ url_for('static', filename='js/sb-admin.js') }}"></script>

</body>

</html>
